*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  // This define what 1rem is
  font-size: 62.5%; // I want 1rem = 10px, 10px/16px = 62.5%

  // width < 1200?
  @include respond(tab-land) {
    font-size: 56.25%; // I want 1rem = 9px, 9px/16px = 56.25%
  }

  // width < 900?
  @include respond(tab-port) {
    font-size: 50%; // I want 1rem = 8px, 8px/16px = 50%
  }

  // width >= 1200?
  @include respond(big-desktop) {
    font-size: 75%; // I want 1rem = 12px, 12px/16px = 75%
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

.app {
  @include themed() {
    color: t($t_color-text-primary);
    font-size: t($t_default-font-size);
    background-color: t($t_color-bg-2);
  }

  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

select,
input,
button {
  border: none;
  outline: none;
  background: none;
  color: inherit;

  &:focus {
    outline: none;
    border: none;
  }
}

button {
  cursor: pointer;
}
