// Flex Center Mixin
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

// MEDIA QUERIES MANAGER
/*
Our Breakpints:
0 - 600px:      Phone
600 - 900px:    Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800px] is were our normal styles apply
1800px + :      Big Desktop

Breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // max width: 600px
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    // max width: 900px
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    // max width: 1200px
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    // min width: 1800px
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}

// Theme Utils
@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
